@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');
* {
    font-family: "Montserrat" , sans-serif;
}

body {
    background-color: teal;
}

section{
    background-color: white;
    box-shadow: 0px 0px 3px 5px gray;
    align-content:space-around;
    margin-left: 2%;
    margin-right: 2%;
}
.details {
    background-color: white;
    align-items: center;

}
.details-left {
    width: 80%;
}
.details-chart {
    align-items: center;
}
.details-left p{
    font-size: xx-large;
    font-weight: 800;
    text-align: center;
}
caption{
    font-size: xx-large;
    font-weight: 800;
    color: gold;
}
h1 {
    color:black;
    font-family: "Montserrat" , sans-serif;
    font-size: xxx-large;
    font-weight: 900;
    text-align: center;
}
#e {
    color: gold;
}
.section2 {
    background-color: white ;
    margin-top: 5%;
}
/* #donutchart {
    width: 900px;
    height: 500px;
} */
.details {
    display: flex;
    flex-direction: column;
}
/* .section3 {
    background-color: ;
}
.section4 {
    background-color: ;
}
.section5 {
    background-color: ;
} */
table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid purple;
    font-size: x-large;
  }
  
  thead th:nth-child(1) {
    width: 30%;
  }
  
  thead th:nth-child(2) {
    width: 20%;
  }
  
  thead th:nth-child(3) {
    width: 15%;
  }
  
  thead th:nth-child(4) {
    width: 35%;
  }
  
  th, td {
    padding: 20px;
    text-align: left;
  }
  .next-trip {
    text-align: center;
    margin-top: 3%;
    padding-top: 1%;
    margin-bottom: 3%;
    padding-bottom: 2%;
    padding-left: 3%;
  }
  #display {
    font-weight: 500;
  }