/* google font link */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat" , sans-serif;
    list-style: none;
}

#mat{
    color: gold;
}

body{
    background: rgb(188, 194, 194);
}

.sidebar{
    padding-left: 2%;
    padding-top: 1%;
    background: teal;
    margin-left: 0.3%;
    padding-top: 1%;
    margin-top: .74543%;
    margin-right: 0.2%;
    border-color: black;
    border-radius: 6px;
    border: 1px solid;
    position: fixed;
    width: 240px;
    padding: 7px 15px;
    transition: all 0.5s ease;
    height:98%;
    box-shadow: 2px 5px 20px rgba(24, 23, 23, 0.5);
}

.sidebar ul li{
    list-style: none;
    height: 52px;
    width: 100%;
    margin: 0 6px;
    position: relative;
    line-height: 52px;
    border-radius: 10px;
}

.sidebar ul li .tool{
    position: absolute;
    left: 122px;
    top: 50%;
    transform: translateY(-50%,);
    border-radius: 10px;
    height: 35px;
    width: 122px;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
}

.sidebar ul li:hover .tool{
    transition: all 0.5s ease;
    opacity: 40;
    top: 50%
}


.nav_bar{
    padding-top: 40px;
    font-size: larger;
    font-style: normal;
    font-weight: 600;
    font-family: sans-serif;
    background: teal;
    display: block;
    color: antiquewhite;
    
}
h1{
    font-size: x-large;
    
}

.links_name{
    color: antiquewhite;
}

.bx{
    color: black;
    font-size: 25px;
}

#sign_out{
    margin-top: 490px;
    margin-left: 90px;
    padding-top: 18px;
}

#john_doe .bxs-user{
    margin-top: 540px;
    margin-left: -22px;
    
}

#welcome{
    font-size: smaller;
    padding-left: 14%;
}

.system{
    background: rgb(66, 165, 144);
    border: 1px solid;
    border-radius: 6px;
    width: 240px;
    margin-left: -16px;
    margin-top: -18px;
}

.profile_info{
    display: flex;
    gap:210px;
    position: relative;
    padding-top: 9px;
    margin-left: 80px;

}

.profile{
    left: 260px;
    margin-top: 30px;
}

nav{
    background-color: teal;
    margin-left: 13.4%;
    margin-top: 0%;
    border-color: black;
    border-radius: 10px;
    border: 1px solid;
    margin-right: 1%;
    width: 100%;
    box-shadow: 2px 5px 20px rgba(24, 23, 23, 0.5);
}

.profile_info h3{
    color: black;
}

.profile_info button{
    background: teal;
    border-collapse: collapse;
    border-radius: none;
    border: none;
    cursor: pointer;
}

.edit{
    color: white;
}

.nav{
    margin-right: 300px;
    margin-left: 24px;
    width: 90%;
    position: fixed;
}


#btn_info{
    color: teal;
    border: none;
}

#my_account{
    margin-left: 260px;
    color: black;
    padding-top: 100px;
    border-radius: 10px;
    border: 1px solid;
    margin-right: 1%;
    width: 18%;
    height: 1%;
    box-shadow: 2px 5px 20px rgba(24, 23, 23, 0.5);
    font-size: smaller;
    margin-left: 249px;
    padding-bottom: -200px;
}

h2{
    padding-top: 40px;
    margin-left: 10px;
    margin-bottom: 15px;
}

.change_pass{
    cursor: pointer;
    background: rgb(188, 194, 194);
    margin-left: 8px;
    margin-bottom: 3px;
    border: none;
    box-shadow: inset 0 0 0 0 teal;
    border-radius: 10px;
    transition: ease-out 0.3s;
    outline: none;
    margin-top: 2px;
}

.change_pass:hover{
    box-shadow: inset 300px 0 0 0 teal;
    cursor: pointer;
    color: black;
}

#contacts{
    color: black;
    border-radius: 10px;
    border: 1px solid;
    margin-right: 1%;
    width: 23%;
    height: 1%;
    box-shadow: 2px 5px 20px rgba(24, 23, 23, 0.5);
    font-size: smaller;
    margin-left: 586px;
    margin-top: -480px;
    display: none;
}

#general{
    color: black;
    border-radius: 10px;
    border: 1px solid;
    margin-right: 1%;
    width: 15%;
    height: 1%;
    box-shadow: 2px 5px 20px rgba(24, 23, 23, 0.5);
    font-size: smaller;
    margin-left: 586px;
    margin-top: -480px;
    display: none;
}