* {
    margin: 0;
}

/*top navbar*/
.top-navbar {
    display: flex;
    justify-content: space-between;
    background-color: teal;
    color: #fff;
    height: 50px;
    box-shadow: 0 4px 8px 0 rgba(184, 177, 177, 0.973);
}

.top-navbar h1 {
    padding: 12px 12px 12px 50px;
    font-weight: 900;
    font-size: 35px;
}

.dot {
    height: 30px;
    width: 30px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    margin: 12px 3px 12px 8px;
}

.dot2 {
    height: 30px;
    width: 30px;
    background-color: greenyellow;
    border-radius: 50%;
    display: inline-block;
    margin: 12px 3px 12px 3px;
}

.dot3 {
    height: 30px;
    width: 30px;
    background-color: yellow;
    border-radius: 50%;
    display: inline-block;
    margin: 12px 30px 12px 3px;
}

/*Main body*/
.main-dashboard {
    display: flex;
}

/*left nav-bar*/
.left-navbar {
    background-color: black;
    height: 100vh;
    width: 200px;
}

.left-navbar ul {
    text-decoration: none;
    color: #fff;
    list-style-type: none;
    font-size: 30px;
    padding-top: 50px;
    padding-left: 10px;
}

.left-navbar ul li {
    padding: 20px;
}

.left-navbar ul li a {
    text-decoration: none;
    color: #fff;
    list-style-type: none;
}

/*main body*/

.main-content h1 {
    padding-left: 30px;
    padding-top: 20px;
    text-decoration: underline;
    color: teal;
}

.card-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 300px;
    height: 120px;
    margin-left: 30px;
}

.card-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-container h3{
    padding: 10px;
    font-size: 30px;
    text-align: center;
    font-weight: lighter;
}

.fa-solid {
    padding-top: 5px;
    padding-left: 120px;
    font-size: 50px;
}
.card-section {
    display: flex;
    justify-content: space-between;
}
.line {
    width: 100px;
}

/*fleet section*/

.fleet-section h2 {
    padding-left: 30px;
    padding-top: 20px;
    font-size: 24px;
}

.fleet-card {
    padding-left: 50px;
}
.fleet-card img {
    border-radius: 50%;
    height: 120px;
    width: 120px;
}

.fleet-content {
    padding-left: 10px;
}

.fleet-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.fleet-lined {
    display: flex;
    justify-content: space-between;
}